@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Greycliff CF"; /* 字体家族名称 */
  src: url("./fonts/GreycliffCF-Bold.woff2") format("woff2"); /* 字体文件路径及格式 */
  font-weight: 700; /* 字体粗细 */
  font-style: normal; /* 字体样式 */
}

@font-face {
  font-family: "Greycliff CF"; /* 字体家族名称 */
  src: url("./fonts/GreycliffCF-Regular.woff2") format("woff2"); /* 字体文件路径及格式 */
  font-weight: 400; /* 字体粗细 */
  font-style: normal; /* 字体样式 */
}

@font-face {
  font-family: "Greycliff CF"; /* 字体家族名称 */
  src: url("./fonts/GreycliffCF-Heavy.woff2") format("woff2"); /* 字体文件路径及格式 */
  font-weight: 900; /* 字体粗细 */
  font-style: normal; /* 字体样式 */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for specific element */
element-selector::-webkit-scrollbar {
  display: none;
}

/* 滚动条 */
.chat-messages-view::-webkit-scrollbar {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #f2f2f2;
}

/* 滚动条滑块 */
.chat-messages-view::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 3px;
}

/* 鼠标悬停在滚动条上的滑块 */
.chat-messages-view::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
